{% extends "base.min.html" %}
{% block jscss %}
{% if loggedin %}
<script defer src="//tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script defer src="//tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap/5.3.8/js/bootstrap.bundle.min.js"></script>
<script defer src="//tools-static.wmflabs.org/cdnjs/ajax/libs/nunjucks/3.2.4/nunjucks-slim.min.js"></script>
<script defer src="//tools-static.wmflabs.org/cdnjs/ajax/libs/qs/6.5.2/qs.min.js"></script>
{% if config.socketio_uri %}
<script defer src="{{ config.socketio_uri }}/socket.io.js"></script>
{% endif %}
<script defer src="config"></script>
<script defer src="i18n/{{ lang() }}"></script>
<script defer src="static/templates.min.js"></script>
<script defer src="static/ChunkedUploader.min.js"></script>
<script defer src="static/video2commons.min.js"></script>
{% endif %}
{% endblock %}
{% block content %}
{% if loggedin %}
<noscript>{{ _('JavascriptRequired') }}</noscript>
{% else %}
<form method="get" action="{{ url_for('loginredirect') }}">
  <div class="text-center">
    <input class="btn btn-primary btn-lg my-3" type="submit" value="{{ _('loginOnCommons') }}">
  </div>
  <input type="hidden" name="returnto" value="{{ request.url }}">
</form>
{% endif %}
{% endblock %}
