<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5>
        <i class="bi bi-info-circle"></i>
        <span>{{ _('details') }}</span>
      </h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
      <p>{{ _('detailsDescription') }}</p>
      <pre><code id="detailsModal-error"></code></pre>
    </div>

    <div class="modal-footer">
      <button
        id="detailsModal-close"
        type="button"
        class="btn"
        data-bs-dismiss="modal"
      >
        {{ _('close') }}
      </button>
      <a
        id="detailsModal-report"
        href="https://github.com/toolforge/video2commons/issues/new/choose"
        target="_blank"
        rel="noopener noreferrer"
        class="btn btn-primary"
      >
        {{ _('report') }}
      </a>
    </div>
  </div>
</div>
