<form role="form">
  <div class="mb-3" id="src-url">
    <label class="form-label" for="url"><i class="bi bi-download"></i> URL</label>
    <input type="text" class="form-control" id="url" placeholder="http://example.com/examplevideo" dir="ltr">
    <span class="btn fileinput-button"><i class="bi bi-folder2-open"></i> {{ _('uploadFile') }}<input id="fileupload" name="file" data-url="api/upload/upload" type="file"></span>
  </div>
  <div class="mb-3" id="src-uploading" style="display:none">
    <label class="form-label"><i class="bi bi-cloud-upload"></i> {{ _('uploading') }}</label>
    <div class="progress" id="upload-progress"><div class="progress-bar" role="progressbar"></div></div>
    <span class="btn btn-danger fileinput-button" id="upload-abort"><i class="bi bi-x-lg"></i> {{ _('cancel') }}</span>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" checked id="video">
    <label class="form-check-label" for="video">{{ _('keepvideo') }}</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" checked id="audio">
    <label class="form-check-label" for="audio">{{ _('keepaudio') }}</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" checked id="subtitles">
    <label class="form-check-label" for="subtitles">{{ _('importsubtitles') }}</label>
  </div>
  <div id="youtube-warning" class="alert alert-warning d-none">
    {{ _('youtubewarning') }}
  </div>
  <div class="alert alert-info">
    {{ _('note') }}
    <ul>
      <li>{{ _('notesplaylists') }}</li>
      <li>{{ _('notesuncheck') }}</li>
      <li>{{ _('notessubtitles') }}</li>
    </ul>
    <b>{{ _('importantnote') }}</b> {{ _('noteslicensing') | process_link }}
  </div>
</form>
