<form role="form">
  <div class="mb-3">
    <label class="form-label" for="filename"><i class="bi bi-upload"></i> {{ _('filename') }}</label>
    <div class="d-flex gap-2 align-items-center">
      <input type="text" class="form-control" id="filename" placeholder="Example" size="30" dir="ltr">
      <p class="form-control-plaintext target-dot">.</p>
      <select class="form-control" id="format" style="max-width:40%;" dir="ltr"></select>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="filedesc"><i class="bi bi-list-ul"></i> {{ _('filedescription') }}</label>
    <textarea class="form-control" rows="10" id="filedesc" dir="ltr"></textarea>
  </div>
  <div class="mb-3" id="languageCategory-group" style="display: none;">
    <label class="form-label" for="languageCategory"><i class="bi bi-globe"></i> {{ _('languagecategory') }}</label>
    <select class="form-control" id="languageCategory" dir="ltr"></select>
  </div>
  <div class="mb-3" id="dateCategory-group">
    <label class="form-label" for="dateCategory"><i class="bi bi-calendar"></i> {{ _('datecategory') }}</label>
    {% if source.audio and not source.video %}
      <p class="form-text">{{ _('datecategory-help') | replace('$1', '"Audio files of YYYY"') }}</p>
    {% else %}
      <p class="form-text">{{ _('datecategory-help') | replace('$1', '"Videos of YYYY", "Videos taken on YYYY-MM-DD"') }}</p>
    {% endif %}
    <input type="text" class="form-control" id="dateCategory" list="dateCategoryOptions" dir="ltr">
    <datalist id="dateCategoryOptions"></datalist>
    <span class="form-text text-danger" id="dateCategoryError" style="display: none;"></span>
  </div>
  <div class="alert alert-info">
    {{ _('extensionmsg') }}
  </div>
</form>
